%% -*- erlang -*-
%% Config file for i2c application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
            {"STRIP", "bfin-linux-uclibc-strip"},
            {"CC", "bfin-linux-uclibc-gcc"},
            {"STAGING_DIR", "~/Projects/Lumenosys/blackfin/lumenosys-adi-buildroot/output/host/usr/bfin-buildroot-linux-uclibc/sysroot"},
 	    {"I2C_TOOLS_HEADERS=","../i2c-tools-3.1.1/include"},
 	    {"CFLAGS", "-Wall -O3 -fpic -funroll-loops -ffast-math -fomit-frame-pointer -mcpu=bf537-0.3 -I ${I2C_TOOLS_HEADERS} -I ${STAGING_DIR}/usr/lib/erlang/usr/include"}
 	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/i2c.so",
	       [ "c_src/i2c.c"
	       ]}
	     ]}.

%% {edoc_opts, [{doclet, edown_doclet}]}.
%%{ct_extra_params, " -spec test/rt_i2c_port.spec"}.

{post_hooks, [{"linux", compile, "${STRIP} priv/*"}]}.
